@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Restaurant_page
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="headerwrapper">
                <nav>
                    <ul>
                        <li><a asp-page="/Index">Home</a></li>
                        <li><a asp-page="/OrderMenu">Menu</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-page="/Admin/Index">Admin Page</a></li>
                        }
                        <li><a asp-page="/Contact">Contact Us</a></li>
                        @if (SignInManager.IsSignedIn(User) == false)
                        {
                            <li><a asp-page="/Account/Login">Login/Register</a></li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a asp-page="/Checkout">Checkout / Basket</a></li>
                            <li class="buttonli">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit">Log out</button>
                                </form>
                            </li>
                        }
                    </ul>

                </nav>
                <div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <h2 class="greeting">Hello @UserManager.GetUserName(User)</h2>
                    }

                </div>
                <div class="shoptitle">
                    <h1>Abra Kebabra</h1>
                </div>
            </div>
        </header>

        <main>
            <div>
                @RenderBody()
            </div>
        </main>
    </div>
    <footer>
        <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-page="./Admin/Index">Admin</a>
        }
        <p class="w3ccss">
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"/>
            </a>
        </p>
    </footer>
        
</body>
</html>
