@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li>Menu</li>
                <li>Contact</li>
                <li><a asp-page="#">Login</a></li>
                <li><a asp-page="/Account/RegisterGuest">Register</a></li>
            </ul>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
