@page
@model Restaurant_page.Pages.AddMenuItemModel
@{
    ViewData["Title"] = "AddMenuItem";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2 class="pagetitle">Add Menu Item</h2>
<div class="additem">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <p>Name: </p>
        <div><input asp-for="MenuItem.Name" /></div>
        <p>Description:</p>
        <div><textarea asp-for="MenuItem.Description"></textarea></div>
        <p>Price:</p>
        <div> <input asp-for="MenuItem.Price" /></div>
        <p>Stock:</p>
        <div> <input asp-for="MenuItem.Stock" /></div>
        <p>Image:</p>
        <div><input type="file" name="ItemImage" /></div>
        <button type="submit">Add Item</button>
    </form>
</div>