@page
@model Restaurant_page.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Contact</h2>

<div class="contact">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Input.Name">Name</label>
            <input asp-for="Input.Name" class="form-control" />
        </div><div>
            <label asp-for="Input.Email">Email</label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email"></span>
        </div><div>
            <label asp-for="Input.Message">Message</label>
            <input asp-for="Input.Message" />
        </div>

        <button type="submit">Send Message</button>
    </form>

</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.8904054775076!2d-2.8299108841642884!3d53.27358327996383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDE2JzI0LjkiTiAywrA0OSczOS44Ilc!5e0!3m2!1sen!2suk!4v1553001711589" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


