@page "{id:int}"
@model Restaurant_page.Pages.EditMenuItemModel
@{
    ViewData["Title"] = "EditMenuItem";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2 class="pagetitle">Edit Menu Item</h2>

<div class="edititem">
    <form method="post" enctype="multipart/form-data">
        <div>
            <div asp-validation-summary="All"></div>
            <label>Name:</label>
            <div>
                <input asp-for="MenuItem.Name" />
            </div>
            <label>Description:</label>
            <div>
                <textarea asp-for="MenuItem.Description"></textarea>
            </div>
            <label>Price:</label>
            <div>
                <input asp-for="MenuItem.Price" />
            </div>
            <label>Stock:</label>
            <div>
                <input asp-for="MenuItem.Stock" />
            </div>
            <label>Image:</label>
            <div>
                <input type="file" name="ItemImage" />
            </div>
            <div>
                <input asp-for="MenuItem.MenuID" type="hidden" />
            </div>
        </div>
        <div>
            <button type="submit" asp-page-handler="Save">Save</button>
        </div>
    </form>
</div>

