@page
@model Restaurant_page.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}



    <div class="wrapper">
        <header>
            <h1>Restaurant - we gots the food</h1>
            <nav>
                <ul>
                    <li>about</li>
                    <li>place</li>
                    <li>more food</li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Hello World</h1>
            <h2>we like food and hope you do too</h2>
            <div class="articles">
                <article class="main-article">
                    <h3>food news!</h3>
                    <p>
                        Food around you theres lots of it Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut sodales a nisl at vehicula.
                        Etiam maximus consequat quam, a imperdiet ante posuere at.
                        Aliquam libero massa, sagittis viverra erat ut, venenatis imperdiet eros.
                    </p>
                </article>

                <article class="secondary-article">
                    <h3>food news!</h3>
                    <p>
                        Food around you theres lots of it Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut sodales a nisl at vehicula.
                        Maecenas malesuada metus velit, non interdum orci vestibulum at.
                        Sed magna purus, lobortis a vestibulum eget, rhoncus at urna.
                        Duis ut leo vel magna eleifend aliquam. Aliquam et fringilla leo.
                        Etiam maximus consequat quam, a imperdiet ante posuere at.
                        Aliquam libero massa, sagittis viverra erat ut, venenatis imperdiet eros.
                    </p>
                </article>
            </div>

        </main>

        <footer></footer>
    </div>

