@page
@model Restaurant_page.Pages.NewsLetterModel
@{
    ViewData["Title"] = "NewsLetter";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>NewsLetter</h2>

<p> Enter Name and Email: </p>
<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Name:  <input asp-for="Newsletters.Name" /></div>
    <div>Email:   <input asp-for="Newsletters.Email" /></div>

    <input type="submit" />
</form>

