@page
@model Restaurant_page.Pages.PaymentRecievedModel
@{
    ViewData["Title"] = "PaymentRecieved";
    Layout = "~/Pages/_RestaurantPagesLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Payment Recieved</h2>
<div class="paymentRecieved">
    <ul>
        <li>
            <h3>Continue browsing:</h3>
            <a asp-page="/OrderMenu">Menu</a>
        </li>

        <li>
            <h3>Go to Homepage:</h3>
            <a asp-page="/Index">Home</a>
        </li>

        <li>
            <h3>Contact us about your order:</h3>
            <a asp-page="/Contact">Contact Us</a>
        </li>

    </ul>
</div>

