body {
    background-color: #E6E6FA;
    height: 1600px;
}

.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  background-color: #787;
  overflow-y: auto;
  overflow-x:hidden;
}

header{
    background-image: url("../images/kitchenbanner.jpg");
    height:300px;
}

.headerwrapper {
    float: left;
    height: 180px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: black;
    background: rgba(20,20,20, 0.6);
    margin: 40px 0px;
}

nav {
    margin: 70px 0px;
}

button {
    float: left;
    color: white;
    background-color: black;
    padding: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid;
}

.noaccess{
    width: 60%;
    margin: 0px 20%;
}

.buttonli{
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
}

a:hover {
    background-color: #787;
    color: black;
}

button:hover {
    background-color: #787;
    color: black;
    cursor: pointer;
}

nav li {
    margin: 10px 10px;
    float: left;
    list-style: none;
}

.greeting {
    float: right;
    margin: 0px;
    width: 400px;
    color: white;
    background: rgba(20,25,20, 0.9);
    padding: 6px;

}

footer a {
    margin-right: 40px;
}

.articles{
    width: 1100px;
    margin: 10px 80px;
}

.article {
    float: left;
    width: 300px;
    height: 500px;
    color: white;
    padding: 20px;
    background-color: black;
    background: rgba(20,20,20, 0.3);
    border: 2px solid black;
}

.article a {
    float: left;
    width: 70%;
    text-align: center;
    text-decoration: none;
    margin: 0px 10%;
    padding: 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid;
}

form a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
}

.paymentRecieved {
    float: left;
    width: 50%;
    margin: 0px 23%;
    background: rgba(20,20,20, 0.3);
}

.paymentRecieved a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
}

.paymentRecieved li {
    padding: 20px;
}

.paymentRecieved ul {
    list-style: none;
    text-align: center;
    padding: 20px;
    
}

h1 {
    float: left;
    text-align: center;
    color: white;
    margin: 20px 0px;
    font-size: 50px;
    width: 100%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

header h1 {
    margin: 0px;
    margin-bottom: 40px;
}

h2 {
    float: left;
    padding: 20px 0px;
    width: 100%;
    color: white;
    background: rgba(20,20,20, 0.3);
    text-align: center;
}

.pagetitle {
    float: none;
    border: 2px solid black;
    width: 1196px;

}

p {
    text-align: center;
}

.login{
    width: 400px;
    float: left;
    margin: 0px 400px;
}

    .login form {
        border: 2px solid black;
        width: 400px;
        background: rgba(20,20,20, 0.3);
        color: white;
        margin-bottom: 50px;
    }

.contact {
    width: 100%;
    float: left;
    margin: 0px 410px;
}

.contact input {
    float: right;
    padding: 10px;
    margin: 10px;
}

.login input {
    float: right;
    padding: 10px;
    margin: 10px;
}

.login button {
    margin: 50px;
    width: 70%;
}

td, th{
    text-align: center;
    height: 40px;
    padding: 20px;
}

.additem {
    width: 100%;
    float: left;
    margin: 0px;
}

.additem p {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.additem div {
    float: left;
    width: 100%;
    text-align: center;
}

.additem input, textarea {
    margin: 0px;
}

.additem form {
    width: 100%;
}

    .additem button {
        float: left;
        margin: 50px 550px;
    }

form {
    
    margin: 0px auto;
    float: left;
}

table, th, td {
    background: rgba(20,20,20, 0.3);
    border: 2px solid black;
}

label {
    float: left;
    padding: 10px;
    margin: 10px 30px;
}

.backtomenu{
    float: left;
    width: 150px;
    margin: 30px 420px;
}

.backtomenu a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
}

.loginbutton {
    float: left;
    margin: 10px;
}

.checkout {
    float: left;
    margin: 20px 400px;
    color: white;
}

.checkout p {
    color: black;
    float: left;
    width: 300px;
}

.total {
    float: left;
    color: black;
    font-size: 30px;
    margin: 20px 10px;
}

.arrival p {
    float: left;
    color: white;
    background: rgba(20,20,20, 0.3);
    font-size: 30px;
    width: 30%;
    margin: 0px 35%;
    margin-bottom: 10px;
}

.admin {
    float: left;
    width: 100%;
    margin: 0px 15%;
    color: white;
}

    .admin h3 {
        width: 250px;
        background: rgba(20,20,20, 0.3);
        text-align: center;
        
    }

.admin .tblname {
    width: 1500px;
}

.ordermenu {
    float: left;
    margin: 20px 15%;
    color: white;
}

.menupage {
    float: left;
    margin: 20px 150px;
    color: white;
}

.edititem {
    float: left;
    margin: 20px 520px;
    color: white;
}

.edititem button {
    margin: 50px;
}

textarea {
    height: 70px;
    width: 140px;
}

.buybutton{
    width: 100%;
    margin: 50px 80px;
}

iframe {
    float: left;
    width: 80%;
    height: 450px;
    border: 2px solid black;
    margin: 50px 10%;
}

.loginwindow {
    width: 100%;
}

footer {
    float: none;
    width: 100%;
    text-align: center;
}

