body {
    background-color: #E6E6FA;
}

.wrapper {
  width: 1200px;
  height: 1400px;
  margin: 0px auto;
  background-color: #787;
}

header{
    background-image: url("../images/kitchenbanner.jpg");
    height:300px;
}

.headerwrapper {
    float: left;
    height: 180px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: black;
    background: rgba(20,20,20, 0.6);
    margin: 40px 0px;
}

nav {
    margin: 70px 0px;
}

button {
    float: left;
    color: white;
    background-color: black;
    padding: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid;
}

.buttonli{
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
}

a:hover {
    background-color: #787;
    color: black;
}

button:hover {
    background-color: #787;
    color: black;
    cursor: pointer;
}

nav li {
    margin: 10px 10px;
    float: left;
    list-style: none;
}

.greeting {
    float: right;
    margin: 0px;
    width: 400px;
    color: white;
    background: rgba(20,25,20, 0.9);
    padding: 6px;
}

.articles{
    width: 1100px;
    margin: 50px 80px;
}

.article {
    float: left;
    width: 300px;
    height: 500px;
    color: white;
    padding: 20px;
    background-color: black;
    background: rgba(20,20,20, 0.3);
}

.article a {
    float: left;
    width: 70%;
    text-align: center;
    text-decoration: none;
    margin: 0px 10%;
    padding: 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid;
}

form a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
}

.paymentRecieved {
    float: left;
    width: 50%;
    margin: 0px 23%;
    background: rgba(20,20,20, 0.3);
}

.paymentRecieved a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
}

.paymentRecieved li {
    padding: 20px;
}

.paymentRecieved ul {
    list-style: none;
    text-align: center;
    padding: 20px;
    
}

h1 {
    float: left;
    text-align: center;
    color: white;
    margin: 20px 0px;
    font-size: 50px;
    width: 100%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

header h1 {
    margin: 0px;
    margin-bottom: 40px;
}

h2 {
    float: left;
    padding: 20px 0px;
    width: 100%;
    color: white;
    background: rgba(20,20,20, 0.3);
    text-align: center;
}

p {

    text-align: center;
}

.login{
    width: 400px;
    float: left;
    margin: 0px 400px;
}

.contact {
    width: 100%;
    float: left;
    margin: 0px 410px;
}

.contact input {
    float: right;
    padding: 10px;
    margin: 10px;
}

.login input {
    float: right;
    padding: 10px;
    margin: 10px;
}

.login button {
    margin: 50px;
    width: 70%;
}

td, th{
    text-align: center;
    padding: 10px;
}

.additem {
    width: 100%;
    float: left;
    margin: 0px 410px;
}

form {
    
    margin: 0px auto;
    float: left;
}

table, th, td {
    background: rgba(20,20,20, 0.3);
    border: 1px solid black;
}

label {
    float: left;
    padding: 10px;
    margin: 10px 30px;
}

.loginbutton {
    float: left;
    margin: 10px;
}

.additem form div {
    margin: 30px;
}

.checkout {
    float: left;
    margin: 20px 470px;
    color: white;
}

.checkout p {
    color: black;
    float: left;
    width: 300px;
}

.total {
    float: left;
    color: black;
    font-size: 30px;
    margin: 20px 10px;
}

.ordermenu {
    float: left;
    margin: 20px 150px;
    color: white;
}

.buybutton{
    margin: 50px 80px;
}

iframe {
    float: left;
    width: 80%;
    margin: 50px 10%;
}

.loginwindow {
    width: 100%;
}

footer {
    float: none;
}

